.items{
    display: flex;
    flex: auto;
    white-space: pre-line;
    width: 300px;
    height: 30px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    align-content: center;
    align-items: center;
    font-weight: bold;
}
.categories{
    position: absolute;
    top: 0;
    right: 0;
    
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    font-style: italic;
    
    
}
.button{
   
    display: block;
    align-items: center;
    align-content: center;
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;

}
.back-button{
    align-content: center;
    margin: 10px;
}
.cart{
    position: relative;
    
    text-align: left;
    align-items: left;
    
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    margin-top: 50px;
   
    
}

.table td{
    
    text-align: center;
    width: 50px;
    
}
.table tr{
    margin-top: 30%;
    
}

.table th{
    
    text-align: center;
    margin-top: 40%;
    font-size: 15px;
    width: 120px;
    font-style: normal;
    border-bottom-style:solid;
    
    border-width: 2px ;
}
.header{
    font-style: italic;
}

.div-1{

    background-color: green;
    width: 100%;
    height: 150px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color:white;
    border-radius: 2px;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 40px;
   
}