.items{
    display: flex;
    white-space: pre-line;
    width: 300px;
    height: 20px;
    background-color: rgba(124, 161, 192, 0.815);
    border-radius: 10px;
}
.categories{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.button{
    flex: auto;
    align-items: center;
    align-content: center;
    width: 300px;
    height: 50px;
    background-color: gray;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}