.items{
    display: flex;
    flex: auto;
    white-space: pre-line;
    width: 300px;
    height: 30px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    align-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.categories{
    position: absolute;
    top: 0;
    right: 0;
    align-content: center;
    width: 400px;
    height: 80%;
    text-align: center;
    align-items: center;
    margin-top: 170px;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-style: italic;
    color: white;
    background-color: rgb(54, 71, 25);
    border-radius: 5px;
    
}
.categories .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.categories p {
    margin-top: 30px;
}
.categories .buttons .button{
    display: block;
    align-items: center;
    align-content: center;
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 12px;
    font-size: 15px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;

}
.back-button{
    align-content: center;
    margin: 10px;
}
.cart{
    position: relative;
    text-align: left;
    align-items: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 500px;
    margin-top: 200px;
}

.cart p{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

.table td{
    text-align: center;
    width: 50px;
    
}
.table tr{
    margin-top: 30%;
}

.table th{
    text-align: center;
    margin-top: 40%;
    font-size: 14px;
    width: 100px;
    font-style: normal;
    border-bottom-style:solid;
    border-width: .5px ;
}
.header{
    font-style: italic;
}

.div-1{
    background-color: hsl(120, 35%, 42%);
    width: 100%;
    height: 150px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color:white;
    border-radius: 2px;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 40px;
}

.div-3{
    position: absolute;
    top: 0;
    right: 40%;
    margin-top: 300px;
    width:fit-content;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.checkout{
    margin-left: 5px;
}

.sales{
    margin-left: 5px;
}

.div-1 p{
    font-size: 16px;
    text-align: right;
    margin-right: 30px;
    margin-top: 70px;

}

.search {
    margin-top: 10px;
}
.search button{
    display: inline;
}
.search ul{
    list-style: none;
}
.search ul, li{
    margin: 0;
    padding: 1px;
    font-size: 15px;
}